.box{
  border: 1px solid #dddddd;
  box-shadow: -2px 4px 20px -8px #b4b1b1;
  margin: 20px 1% 20px 1%;
  width: 98%;
  padding: 10px 0;
  height: auto;
}

.post-box-img{
  float: left;
  width: 80%;
  height: 6cm;
  clear: right;
  float: left;
  margin: 0.4em 0 0 1em;
  width: 170px;
  height: 120px;
}
  

.post-box{
  min-height: 14em;
}

.post-content{
  float: left;
  display: block;
  margin-left: 1em;
  width: 52em;
  line-height: 1.7em;
}

.post-topic{
  margin-top: 0.4em;
  font-size: 1.1em;
  font-weight: bold;
}

.post-body{
  margin-top: 0.4em;
  font-size: 0.8em;
}

.post-time {
  margin-top: 0.4em;
  font-size: 0.85em;
  font-weight: bold;
  font-style: italic;
  color: #aaaaaa;
}

.post-time img{
  margin-right: 0.4em;
  position: relative;
  top: 0.15em;
  width: 15px;
  height: 15px;
  filter: opacity(35%);
}

.line{
  margin-top: 0.7em;
  width: 1px;
  height: 13em;
  background-color: #dddddd;
  position: absolute;
  right: 7cm;
}

.author-box{
  float: right;
  width: 6.5cm;
  height: 6cm;
  text-align: center;
}

.author-box img{
  margin-top: 1em;
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.author-name{
  margin-top: 1em;
  color: #cc0025;
  font-size: 0.9em;
  font-weight: bold;
}

.author-place{
  position: relative;
  top: -10px;
  margin-top: 1em;
  font-size: 0.8em;
}

.author-place img{
  position: relative;
  top: 1px;
  margin-right: 4px;
  width: 8px;
  height: 11px;
}


.author-regist{
  font-weight: bold;
  font-size: 1em;
  margin-top: 1em;
}

